
.animated {
    -webkit-animation-fill-mode: both;
       -moz-animation-fill-mode: both;
        -ms-animation-fill-mode: both;
         -o-animation-fill-mode: both;
            animation-fill-mode: both;

    -webkit-animation-duration: 0.1s;
       -moz-animation-duration: 0.1s;
        -ms-animation-duration: 0.1s;
         -o-animation-duration: 0.1s;
            animation-duration: 0.1s;
}


@-webkit-keyframes fadeInUp {
    0%   { -webkit-transform: translateY(20px); }
    100% { -webkit-transform: translateY(0);    }
}

@-moz-keyframes fadeInUp {
    0%   { -moz-transform: translateY(20px); }
    100% { -moz-transform: translateY(0);    }
}

@-o-keyframes fadeInUp {
    0%   { -o-transform: translateY(20px); }
    100% { -o-transform: translateY(0);    }  
}

@keyframes fadeInUp {
    0%   { transform: translateY(20px); }
    100% { transform: translateY(0);    }
}


.fadeInUp {
    -webkit-animation-name: fadeInUp;
       -moz-animation-name: fadeInUp;
         -o-animation-name: fadeInUp;
            animation-name: fadeInUp;
}

@-webkit-keyframes fadeInDown {
    0%   { -webkit-transform: translateY(-20px); }
    100% { -webkit-transform: translateY(0);     }
}

@-moz-keyframes fadeInDown {
    0%   { -moz-transform: translateY(-20px); }
    100% { -moz-transform: translateY(0);     }
}

@-o-keyframes fadeInDown {
    0%   { -o-transform: translateY(-20px); }
    100% { -o-transform: translateY(0);     }
}

@keyframes fadeInDown {
    0%   { transform: translateY(-20px); }
    100% { transform: translateY(0);     }
}


.fadeInDown {
    -webkit-animation-name: fadeInDown;
       -moz-animation-name: fadeInDown;
         -o-animation-name: fadeInDown;
            animation-name: fadeInDown;
}


