
html {
    background: transparent;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 2em;
    background-image: url("../img/bg.jpg");
    background-color: #6c9b45;
    color: #222;
    padding-bottom: 60px;
}

table {
    background: rgba(255,255,255,0.85);
    margin: 0 auto;
    width: 630px;
}

th {
    text-align: left;
}

td, th {
    padding: 0 10px;
    width: 32px;
}


/* Zebra Strips */
tr:nth-child(odd) {
    background: rgba(255,255,255,0.5);
}

/* Give the team name a bit more width than strictly necessary */
tr td:nth-child(1),
tr th:nth-child(1) {
    width: 150px;
}

tr.up   { background-color: rgba(64,255,64, 0.5); }
tr.down { background-color: rgba(255,64,64, 0.5); }


.header {
    width: 630px;
    padding: 0 20px;
    margin: 20px auto 20px auto;
    height: 96px;
    background: rgba(0,0,0,0.5);

    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

h1 {
    font-size: 40px;
    margin: 0;
    height: 96px;
    line-height: 96px;
    vertical-align: middle;
    color: #fff;
    text-align: left;
    text-shadow: 2px 2px 1px #000;
}

thead {
    background-color: #fff;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}


/* Positioned to be in the middle of the text */
/* margin-top is half the height of the box, minus half-height of button */
button {
    float: right;
    font-weight: bold;
    margin-top: 33px;
}



/* Lets make the button pretty */
/* These are the bootstrap styles */
button {
    width: 160px;
    display: block;
    padding: 4px 12px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 20px;
    color: #444;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
    cursor: pointer;
    background-color: #f5f5f5;
    background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
    background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
    background-repeat: repeat-x;
    border: 1px solid #cccccc;
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-bottom-color: #b3b3b3;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
       -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
            box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

button:hover, button:focus, button:active, button[disabled] {
    color: #333333;
    background-color: #e6e6e6;
}

button:active {
    background-color: #cccccc;
}

button:hover, button:focus {
    color: #333333;
    text-decoration: none;
    background-position: 0 -15px;
    -webkit-transition: background-position 0.1s linear;
       -moz-transition: background-position 0.1s linear;
         -o-transition: background-position 0.1s linear;
            transition: background-position 0.1s linear;
}

button:focus {
    outline: thin dotted #333;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

button:active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}

button[disabled] {
    cursor: not-allowed;
    background-image: none;
    opacity: 0.9;
    filter: alpha(opacity=90);
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
}

